.home-main {
  display: flex;
  min-width: 100%;
}
.home-inner {
  margin-top: 3vh;
  display: grid;
  min-width: 100%;
  height: 80vh;
  grid-template-columns: repeat(5, 1fr);
}

.home-inner > div {
  color: #fff;
  border: 1px solid rgba(255, 255, 255, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 24px;
  max-height: 270px;
  background-color: #585c77fa;
}

.home-inner > div:hover {
  background-color: #c5262d;
  cursor: pointer;
}

@media only screen and (max-width: 950px) {
  .home-inner {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media only screen and (max-width: 650px) {
  .home-inner {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media only screen and (max-width: 400px) {
  .home-inner {
    grid-template-columns: repeat(1, 1fr);
  }
}
