@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');

*{
  padding: 0%;
  margin: 0%;
  box-sizing: border-box; 
  font-family: 'Roboto', sans-serif;
  
}
*::-webkit-scrollbar {
    width: 5px !important;
    height: 5px !important;
  }
  
  /* Track */
 * ::-webkit-scrollbar-track {
    background: #f1f1f1 !important;
  }
  
  /* Handle */
  *::-webkit-scrollbar-thumb {
    background: #888 !important;
  }
  
  /* Handle on hover */
  *::-webkit-scrollbar-thumb:hover {
    background: #555 !important;
  }

  /* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

  button{
    cursor: pointer;
  }



.table-ceam *{
  font-size: 12px;
  color: black;
  font-family: 'Poppins', sans-serif;
}

.css-nfmglb-MuiTableCell-root{
  padding: 2px !important;
}

.MuiTableCell-body {
  border-right: 1px solid rgba(224, 224, 224, 1);
}

.css-1ygcj2i-MuiTableCell-root{
  padding: 10px !important;
}

.css-1w1rijm-MuiButtonBase-root-MuiButton-root{
  padding: 0px !important;
}

.css-1ex1afd-MuiTableCell-root{
  padding: 12px 10px !important;
}
.tss-1cdcmys-MUIDataTable-responsiveBase{
  z-index: 0 !important;
}

.tss-1akey0g-MUIDataTableHeadCell-data {
  font-weight: 600;
  white-space: nowrap;
}
.tss-10syd3x-MUIDataTableHeadCell-root{
  font-weight: 600 !important;
  white-space: nowrap;
}
.tss-qbo1l6-MUIDataTableToolbar-actions *{
  color: rgb(82, 82, 82) !important;
}
.css-15wwp11-MuiTableHead-root *{
  color: rgb(44, 44, 44) !important;
}


.tss-9562fz-MUIDataTableViewCol-root {
  padding: 16px 24px 16px 24px !important;
  font-family: Roboto;
}



@media only screen and (max-width: 350px) {
  .tss-qbo1l6-MUIDataTableToolbar-actions{
    display: none;
  } 
  .css-pdct74-MuiTablePagination-selectLabel{
    display: none;
  }
  .css-16c50h-MuiInputBase-root-MuiTablePagination-select{
    display: none !important;
  }
  
}